---
import SignalCounter from "@/components/ui/SignalCounter";
import RootLayout from "@/layout/RootLayout.astro";
---

<RootLayout>
  <div class="flex flex-col items-center justify-center gap-4 pt-8">
    <SignalCounter client:visible />
  </div>
</RootLayout>
